<!-- Slider main container -->
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="https://unpkg.com/swiper/js/swiper.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

<h3>Carousel-demo1</h3>
<div class="swiper-container" id="swiper1">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../../assets/img/001.jpg">
    </div>
    <div class="swiper-slide">
      <img src="../../assets/img/002.jpg">
    </div>
    <div class="swiper-slide">
      <img src="../../assets/img/003.jpg">
    </div>
    <div class="swiper-slide">
      <img src="../../assets/img/004.jpg">
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<h3>Carousel-demo2</h3>
<div class="swiper-container" id="swiper2">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../../assets/img/001.jpg">
    </div>
    <div class="swiper-slide">
      <img src="../../assets/img/002.jpg">
    </div>
    <div class="swiper-slide">
      <img src="../../assets/img/003.jpg">
    </div>
    <div class="swiper-slide">
      <img src="../../assets/img/004.jpg">
    </div>
    <div class="swiper-slide">
      <img src="../../assets/img/005.jpg">
    </div>
    <div class="swiper-slide">
      <img src="../../assets/img/006.jpg">
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<h3>Carousel-demo3</h3>
<div class="swiper-container div-width" id="swiper3">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <i class="material-icons">volume_up</i>
          </div>
          <mat-card-title>《決戰中途島》是一部2019年美國戰爭片，由羅蘭·艾默瑞奇...</mat-card-title>
          <mat-card-subtitle class="set-left">2019-11-26</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="swiper-slide">
        <mat-card>
            <mat-card-header>
              <div mat-card-avatar>
                <i class="material-icons">volume_up</i>
              </div>
              <mat-card-title>《異裂》為2000年電影《驚心動魄》和2016年電影《分裂》的續集...</mat-card-title>
              <mat-card-subtitle class="set-left">2019-11-27</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
    <div class="swiper-slide">
        <mat-card>
            <mat-card-header>
              <div mat-card-avatar>
                <i class="material-icons">volume_up</i>
              </div>
              <mat-card-title>《艾莉塔：戰鬥天使》是改編自木城幸人的日本漫畫《銃夢》...</mat-card-title>
              <mat-card-subtitle class="set-left">2019-11-28</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
    <div class="swiper-slide">
        <mat-card>
            <mat-card-header>
              <div mat-card-avatar>
                <i class="material-icons">volume_up</i>
              </div>
              <mat-card-title class="set-left">《祝你忌日快樂》為2017年電影《忌日快樂》的正宗續集...</mat-card-title>
              <mat-card-subtitle class="set-left">2019-11-29</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
  </div>
</div>
