<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h3>Card-demo</h3>
<mat-grid-list cols="4">
  <mat-grid-tile>
    <mat-card class="mat-card">
      <mat-card-header>
        <i class="material-icons">person</i>
        決戰中途島
        <div mat-card-avatar class="mat-card-avatar"></div>
      </mat-card-header>
      <mat-card-content>
        <p>《決戰中途島》是一部2019年美國戰爭片，由羅蘭·艾默瑞奇執導，韋斯·圖克撰寫劇本，故事是...</p>
      </mat-card-content>
      <mat-card-footer>2019-11-22</mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
      <mat-card class="mat-card">
        <mat-card-header>
          <i class="material-icons">person</i>
          決戰中途島
          <div mat-card-avatar class="mat-card-avatar"></div>
        </mat-card-header>
        <mat-card-content>
          <p>《決戰中途島》是一部2019年美國戰爭片，由羅蘭·艾默瑞奇執導，韋斯·圖克撰寫劇本，故事是...</p>
        </mat-card-content>
        <mat-card-footer>2019-11-22</mat-card-footer>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="mat-card">
          <mat-card-header>
            <i class="material-icons">person</i>
            決戰中途島
            <div mat-card-avatar class="mat-card-avatar"></div>
          </mat-card-header>
          <mat-card-content>
            <p>《決戰中途島》是一部2019年美國戰爭片，由羅蘭·艾默瑞奇執導，韋斯·圖克撰寫劇本，故事是...</p>
          </mat-card-content>
          <mat-card-footer>2019-11-22</mat-card-footer>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
          <mat-card class="mat-card">
            <mat-card-header>
              <i class="material-icons">person</i>
              決戰中途島
              <div mat-card-avatar class="mat-card-avatar"></div>
            </mat-card-header>
            <mat-card-content>
              <p>《決戰中途島》是一部2019年美國戰爭片，由羅蘭·艾默瑞奇執導，韋斯·圖克撰寫劇本，故事是...</p>
            </mat-card-content>
            <mat-card-footer>2019-11-22</mat-card-footer>
          </mat-card>
        </mat-grid-tile>
</mat-grid-list>
